.card {
  padding: 1rem;
  margin: 1rem 0;
  border: 1px solid #ddd;
  border-radius: 4px;
  max-width: 100%;
  word-wrap: break-word; /* Альтернативное свойство */
  word-break: break-word; /* Переносит длинные слова */
  overflow-wrap: anywhere; /* Гибкий перенос слов */
}


.form-input {
    width: 100%; /* Ensure form inputs take full width */
    box-sizing: border-box; /* Include padding and border in element's total width */
}

.badge {
  font-size: 0.75rem; /* Уменьшаем текст для маленьких экранов */
  padding: 0.3rem 0.6rem; /* Уменьшаем отступы */
  border-radius: 8px;
  margin-left: 5px;
}